.balitas {
  background: url("../img/balitas.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.tots-bowl {
  background: url("../img/tots-bowl.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.tacos-atun {
  background: url("../img/atun.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.platano {
  background: url("../img/platano.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.embataco {
  background: url("../img/embataco.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.embabao {
  background: url("../img/embabao.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.embawrap {
  background: url("../img/embawrap.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.costilla {
  background: url("../img/costilla.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.entrana {
  background: url("../img/entrana.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.panceta {
  background: url("../img/panceta.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.vegetales {
  background: url("../img/vegetales.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.philly {
  background: url("../img/philly.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pollo-cesar {
  background: url("../img/pollo-cesar.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.gambon {
  background: url("../img/gambon.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pollo-mexicano {
  background: url("../img/pollo-mexicano.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.tots {
  background: url("../img/tots.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.elote {
  background: url("../img/elote.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.ensasiatica {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pescado {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.carne {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.cerdo {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pollo {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pasta {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.vegetariano {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.tartiflette {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.arroz {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.verduras {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.kids {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pina {
  background: url("../img/pina.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.diplomat {
  background: url("../img/diplomat.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.pie {
  background: url("../img/pie.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.temporada {
  background: url("http://via.placeholder.com/400");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.widSSPBranding {
  display: none; }

#TA_selfserveprop375.TA_selfserveprop {
  display: flex !important;
  flex-direction: column !important; }

#CDSWIDSSP {
  text-align: center !important; }

#CDSWIDSSP[style] {
  width: 100% !important; }

#CDSWIDSSP .widSSPData {
  background: transparent !important;
  padding: 3em !important; }
  #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet {
    margin: 0px !important; }
    #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li {
      margin: 0px !important; }
      #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span {
        color: white !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 3.5em !important; }
        #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span a {
          font-weight: 200 !important;
          color: white !important;
          font-family: 'Montserrat', sans-serif !important;
          font-size: 1em !important;
          text-decoration: none;
          font-style: italic !important; }
          #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span a:hover {
            text-decoration: none !important;
            color: #999999 !important; }
        #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span.widSSPDate {
          font-weight: 200 !important;
          font-style: italic !important;
          margin-right: 0.25em !important; }
        @media screen and (max-width: 768px) {
          #CDSWIDSSP .widSSPData .widSSPOneReview .widSSPBullet li span {
            font-size: 2em !important; } }
  #CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall {
    margin: 0px 0px 1em 0px !important; }
    #CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div {
      color: white !important;
      font-family: 'Montserrat', sans-serif !important;
      font-style: italic !important; }
      #CDSWIDSSP .widSSPData .widSSPTrvlRtng .widSSPOverall div b {
        color: white !important;
        font-family: 'Montserrat', sans-serif !important;
        font-style: italic !important; }

dt.widSSPH11 {
  display: none !important; }

dt.widSSPH18 {
  display: none !important; }

span.ui_bubble_rating {
  margin-bottom: 0.3em;
  font-size: 1.4em !important; }

.widSSPComponent.widSSPOptional {
  border-top: 0px !important; }

.widSSPAll {
  display: none !important; }

.widSSPLegal {
  display: none !important; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #999999; }

p {
  font-family: 'Montserrat', sans-serif;
  color: #4d4d4d;
  font-weight: 300; }

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif; }

a {
  color: #4d4d4d;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease; }

a:hover {
  color: #999999;
  text-decoration: none; }

.navbar-toggler {
  color: white !important; }

.nav-link-custom {
  color: #4d4d4d;
  padding: 0.5em 4em 0.5em 0em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: .9em; }

.nav-link-custom:hover {
  text-decoration: none;
  color: #999999; }

.menu-divider {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #4d4d4d;
  margin: 10px 0px; }
  @media screen and (min-width: 768px) {
    .menu-divider {
      display: none; } }

.link-unstyled {
  text-decoration: none !important;
  color: #4d4d4d !important; }

.link-unstyled:hover {
  text-decoration: none !important;
  color: #999999 !important; }

#sideBtn {
  background-color: #000;
  padding: 3px;
  color: #fff;
  position: fixed;
  top: 48%;
  right: -109px;
  transition: 0.3s;
  z-index: 10; }

#sideBtn:hover {
  right: 0px;
  background-color: #bc6931; }

#sideBtn a {
  text-decoration: none;
  color: #fff; }

.side-btn-img {
  height: 30px;
  margin: 5px 10px; }

.side-btn-text {
  margin: 0 20px 0 10px; }

.nav-bg {
  background-color: rgba(255, 255, 255, 0.9); }

.nav-logo-size {
  height: 120px;
  position: absolute;
  top: -0; }

.logo-xs {
  height: 30px; }

.booking {
  width: 100%;
  min-height: 800px;
  border: none;
  scrolling: yes; }

.ig-feed {
  width: 100%;
  border: 0;
  overflow: hidden; }

.map {
  width: 100%;
  height: 500px;
  border: 0px; }

footer {
  background: black;
  color: #999999; }

footer h3 {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em; }

footer a {
  color: #cccccc; }

footer a:hover {
  color: #999999;
  text-decoration: none; }

footer a:focus {
  color: text-white;
  text-decoration: none; }

.logo-footer {
  height: 120px;
  margin-bottom: 77px; }

.social-box {
  margin: -70px 0px 0px 0px; }

.social-icon {
  height: 25px;
  margin: 0px 10px; }
  @media screen and (max-width: 768px) {
    .social-icon {
      margin: 10px; } }

.footer-info {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.5em; }

.centered-items {
  margin-left: auto;
  margin-right: auto; }

.legal-line {
  content: '';
  height: 1px;
  width: 66%;
  background-color: #4d4d4d;
  margin: 10px auto; }

.legal {
  font-size: .7em;
  font-weight: 300;
  color: #4d4d4d; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #jumbo {
    background-attachment: scroll; }
  #jumborest {
    background-attachment: scroll; }
  #jumbocont {
    background: url("../img/bg-contacto-cover.jpg");
    background-attachment: scroll; }
  .hide-sm {
    display: none; }
  .nav-link-custom {
    padding-right: 2.5em; }
  h5 {
    font-size: 1em !important; }
  small {
    color: #999999; } }

@media screen and (max-width: 768px) {
  #jumborest {
    background: url("../img/bg-restaurante-cover.jpg") !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important; }
  #jumbocont {
    background: url("../img/bg-contacto-cover.jpg") !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -ms-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important; }
  h1 {
    font-size: 1.5em !important; }
  h3 {
    font-size: 1.35em !important; }
  h5, .h5 {
    font-size: 1em !important;
    font-weight: 600 !important; }
  small {
    color: #999999; }
  p {
    font-size: 0.85em !important;
    line-height: 1.3em !important; }
  .hide-xs {
    display: none; }
  .nav-bg {
    background-color: black; }
  .social-box {
    margin: -10px 0px 0px 0px; }
  .dropdown-menu {
    color: #cccccc !important;
    background-color: black !important; }
  .nav-link-custom {
    color: #999999; }
  .nav-link-custom:hover {
    color: white; }
  .std-color {
    color: #999999 !important; }
  .xs-margins {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .col-xs-margins {
    padding-right: 0 !important; } }

@media screen and (min-width: 768px) {
  .show-xs {
    display: none; } }

.jumbo-logo {
  height: 250px;
  margin-left: auto;
  margin-right: auto; }

#jumbo {
  width: 100%;
  height: 100vh !important;
  background: url("../img/bg-jumbo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px;
  padding: 0px;
  margin-top: 0px; }

.traslucido {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

#jumborest {
  width: 100%;
  height: 50vh !important;
  background: url("../img/bg-restaurante.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#jumbocont {
  width: 100%;
  height: 50vh !important;
  background: url("../img/bg-contacto.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.jumbo-container {
  position: relative;
  width: 100%;
  height: 100%; }

.jumbo-content {
  position: absolute;
  bottom: 50px;
  left: 0; }

.margin-section {
  margin-top: 1em;
  margin-bottom: 1em; }

.margin-section-3 {
  margin-top: 3em;
  margin-bottom: 3em; }

@media screen and (min-width: 992px) {
  .column-layout {
    column-count: 2; } }

.text-shadow {
  text-shadow: 0px 0px 15px #361e0e; }

.strong {
  font-weight: 700 !important; }

.white {
  color: white; }

#reviews {
  background: url("../img/bg-reviews.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.inline-icon-size {
  height: 1em; }

#claim {
  margin: 3em auto 0 auto; }
  @media screen and (min-width: 768px) {
    #claim {
      margin: 3em auto; } }

.quotes {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #bc6931; }

.sqbg {
  background: url("../img/sqbg.jpg"); }

.xs-viewer {
  padding: 3em; }
  @media screen and (max-width: 500px) {
    .xs-viewer {
      padding: 3em 0.5em; } }

.img-staff {
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto; }

.staff-content {
  flex: 0 0 100%;
  flex-direction: column;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; }

.gmaps-icon {
  height: 50px; }

.montse {
  font-family: 'Montserrat', sans-serif !important; }

.square {
  width: 100%;
  padding-bottom: 100%;
  position: relative; }

.square-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center; }

.section-heading-line {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #bc6931;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

.menu-group {
  border: 1px solid black;
  padding: 30px; }
  @media screen and (max-width: 575px) {
    .menu-group {
      margin-left: 7px !important;
      margin-right: 7px !important;
      padding-left: 10px !important;
      padding-right: 10px !important; } }

.menu-step-desc {
  margin-top: -2em;
  margin-bottom: 1em;
  padding: 0px 0.5em;
  background-color: white;
  text-transform: uppercase;
  font-weight: 300; }

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #bc6931; }

.spacer {
  border: 1px solid white; }

.bottom-shadow {
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.04); }

.bt-line {
  border-bottom: 1px solid #bc6931; }

.card-body {
  padding: 1.25em 1.5em 1.5em 0em !important; }

.dropdown-menu {
  color: #4d4d4d;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0px !important;
  border-radius: 0px !important;
  padding: 0.3em 1em 0.3em 1em !important; }
  @media screen and (min-width: 768px) {
    .dropdown-menu {
      margin-top: 0.5em !important; } }

textarea {
  margin: 5px 14px !important;
  resize: none !important; }

input {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.form-line {
  content: '';
  background-color: #4d4d4d;
  height: 1px;
  width: 100%;
  margin: 1em 14px; }

.form-btn {
  margin-left: 14px;
  margin-right: 14px;
  background-color: black !important;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .form-btn {
      width: 33% !important;
      margin-left: auto;
      margin-right: auto; } }
