#modalReservas.modal.fade(tabindex='-1', role='dialog', aria-labelledby='reservas', area-hidden=true)
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5#modalReservas.modal-title Reservar
                button(type='close', class='close', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') &times;
            .modal-body
                p ...
            .modal-footer
                button(type='button', class='btn btn-secondary', data-dismiss='modal') Cerrar