nav.navbar.navbar-expand-md.fixed-top.nav-bg.bottom-shadow
  .container
    a.navbar-brand(href='index.html') 
      img.nav-logo-size(src='./img/logo-embalados.svg')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navMenu', aria-controls='navMenu', aria-expanded='false', aria-label='Navigation')
      i.fa.fa-bars
    #navMenu.collapse.navbar-collapse
      .navbar-nav.ml-auto.text-uppercase
        a.nav-link-custom(href='/restaurante.html') Restaurante
        a.nav-link-custom(href='#carta') Carta
        a.nav-link-custom(href='#modalReservas' data-toggle='modal' data-target='modalReservas') Reservas
        a.nav-link-custom(href='https://deliveroo.es/es/menu/madrid/universidad/embalados?utm_source=google&utm_medium=cpc&utm_term=%2Bembalados&utm_campaign=**Acquisition%5ESearch%5ERestaurant%5ESpain%5EMadrid%5EMCCM%5E%5E%5EEmbalados%5E~95711~%5EUniversidad%5E%5E%5E%C2%A371700000046530679&utm_loc=9061046&utm_device=c&utm_adposition=1t1&utm_network=g&utm_targetid=kwd-557003203415&gclid=CjwKCAiA1ZDiBRAXEiwAIWyNC9YK4275YOdP5vT01tKslz_fvlhrQNX_kblHA34NF9IE1VP1GEe9dxoCm8kQAvD_BwE&gclsrc=aw.ds') Delivery
        a.nav-link-custom(href='/contacto.html') Contacto
  
