extends ../partials/layout.pug
block content
  section#carta.container
    .row
        .section-heading.text-center.item-center.my-5
        span.section-h3.text-uppercase Entrantes
        .section-heading-line
    .row
      .card-deck
        .card
          #entrada1.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 1
            p.card-text Descripcion del plato.
        .card
          #entrada2.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 2
            p.card-text Recopilación de información necesaria para la presentación final del estudio, incluyendo el cumplimiento de requisitos regulatorios internos, así como permisos y estudios de impacto medioambiental del proyecto.
        .card
          #entrada3.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 3
            p.card-text Seguimiento del progreso del proyecto. En caso de ser necesarios, servicios de defensa legal y corrección de los permisos y estudios realizados. Control de cumplimiento de todos los requisitos legales y asistencia tributaria y aduanal.
    .row
      .section-heading.text-center.item-center.my-5
        span.section-h3.text-uppercase Principales
        .section-heading-line
    .row
      .card-deck
        .card
          #principal1.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 1
            p.card-text Estudio preliminar y entrega de informe sobre normativa legal interna que pueda incidir en el proyecto, especialmente en regulación medioambiental, incluido los requisitos de estudios de impacto, corporativa, tributaria con énfasis en materia aduanal.
        .card
          #principal2.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 2
            p.card-text Recopilación de información necesaria para la presentación final del estudio, incluyendo el cumplimiento de requisitos regulatorios internos, así como permisos y estudios de impacto medioambiental del proyecto.
        .card
          #principal3.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 3
            p.card-text Seguimiento del progreso del proyecto. En caso de ser necesarios, servicios de defensa legal y corrección de los permisos y estudios realizados. Control de cumplimiento de todos los requisitos legales y asistencia tributaria y aduanal.      
      .card-deck
        .card
          #principal4.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 4
            p.card-text Estudio preliminar y entrega de informe sobre normativa legal interna que pueda incidir en el proyecto, especialmente en regulación medioambiental, incluido los requisitos de estudios de impacto, corporativa, tributaria con énfasis en materia aduanal.
        .card
          #principal5.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 5
            p.card-text Recopilación de información necesaria para la presentación final del estudio, incluyendo el cumplimiento de requisitos regulatorios internos, así como permisos y estudios de impacto medioambiental del proyecto.
        .card
          #principal6.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 6
            p.card-text Seguimiento del progreso del proyecto. En caso de ser necesarios, servicios de defensa legal y corrección de los permisos y estudios realizados. Control de cumplimiento de todos los requisitos legales y asistencia tributaria y aduanal.  
    .row
      .section-heading.text-center.item-center.my-5
        span.section-h3.text-uppercase Postres
        .section-heading-line
    .row
      .card-deck
        .card
          #entrada1.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 1
            p.card-text Estudio preliminar y entrega de informe sobre normativa legal interna que pueda incidir en el proyecto, especialmente en regulación medioambiental, incluido los requisitos de estudios de impacto, corporativa, tributaria con énfasis en materia aduanal.
        .card
          #entrada2.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 2
            p.card-text Recopilación de información necesaria para la presentación final del estudio, incluyendo el cumplimiento de requisitos regulatorios internos, así como permisos y estudios de impacto medioambiental del proyecto.
        .card
          #entrada3.square
          .card-body
            h5.card-title.montse.text-uppercase Plato 3
            p.card-text Seguimiento del progreso del proyecto. En caso de ser necesarios, servicios de defensa legal y corrección de los permisos y estudios realizados. Control de cumplimiento de todos los requisitos legales y asistencia tributaria y aduanal.
  
  section#testimonios.container-fluid.boost-section.my-5
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.item-center
      h2.my-3 Somos una empresa de integración y consultoría en legislación extranjera y gestión de proyectos.
  
  section#contacto
    .container
      .row
        .col-sm-3
            .img.square(src='')
        .col-sm-3
            .img.square(src='')
        .col-sm-3
            .img.square(src='')
        .col-sm-3
            .img.square(src='')
